DEMOS_ENABLED=true

# config for contact form
# https://medium.com/@dhananjay_71533/send-mail-using-nodemailer-in-node-js-3183366b1b1c
EMAIL_ADDRESS=
EMAIL_PASSWORD=

# config for connecting to database
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
