/* what is :root? https://developer.mozilla.org/en-US/docs/Web/CSS/:root */
:root {
  --primary: rgb(5, 190, 113);
  --secondary: rgb(210, 166, 234);
  --primary-variant: rgb(5, 181, 108);
  --link: rgb(0, 135, 252);
  --light: rgb(255, 255, 255);
  --dark: rgb(45, 43, 43);
  --debug: rgb(239, 6, 72);
  --gray: rgb(223, 222, 223);
  --demo: rgb(254, 251, 217);
  --demo-random: rgb(193, 243, 248);
}

/* START GRID AND LAYOUT HELPERS */

/* wrap content sections in .container */
.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

/* .container adjustments for large screens, like laptops and desktops */
@media (min-width: 992px) {
  .container {
    width: 992px;
    margin: 0 auto;
    padding: 0;
  }
}

/* END GRID AND LAYOUT HELPERS */

/* START HELPER ATTRIBUTES */

.fullscreen {
  width: 100vw;
  height: 100vh;
}

.fullheight {
  height: 100vh;
}

.fullwidth {
  width: 100vw;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.align-center {
  display: flex;
  align-items: center;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

.padding-4 {
  padding: 4rem;
}

.padding-2 {
  padding: 2rem;
}

.padding-1 {
  padding: 1rem;
}

.margin-reset {
  margin: 0 !important;
}

.margin-bottom-1 {
  margin-bottom: 1rem;
}

.text-sm {
  font-size: 0.875rem;
}

.text-lg {
  font-size: 1.25rem;
}

.text-xl {
  font-size: 1.5rem;
}

.text-xxl {
  font-size: 2rem;
}

.text-xxxl {
  font-size: 3rem;
}

.text-bold {
  font-weight: 700;
}

.gray-bg {
  background-color: var(--gray);
}

/* END HELPER ATTRIBUTES */

/* START FANCY STUFF */
@keyframes pulse {
  0%,
  100% {
    background-color: var(--primary);
  }
  50% {
    background-color: var(--primary-variant);
  }
}
/* END FANCY STUFF */

/* classes added for the WDOMG example app */

.action-boxes {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.budget-card {
  display: grid;
  grid-template-rows: auto 1fr auto;
  border: 3px solid var(--secondary);
  background-color: var(--gray);
  width: 100%;
  height: 400px;
}

.budget-card .budget-card-title {
  display: flex;
  justify-content: center;
  font-size: 1.75rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0.5rem;
}

.budget-card .budget-card-amount {
  display: flex;
  justify-content: center;
  font-size: 1.25rem;
  padding: 0.5rem;
}

.budget-card .budget-card-bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.budget-card .budget-card-portion {
  font-size: 5rem;
  font-weight: 700;
  padding: 0.5rem;
  align-self: end;
  text-align: end;
}

.budget-card .budget-card-breakdown {
  font-size: 1rem;
  line-height: 2rem;
  padding: 0.5rem;
  align-self: end;
  text-align: start;
}

.budget-card .budget-card-breakdown-item {
  background-color: var(--dark);
  color: var(--light);
  padding: 0.2rem;
  margin: 0.2rem;
}

.swiper {
  width: 100%;
  height: 400px;
}
